html {
    height: 100%;
}
body { background-color: #105100;
       color: #e0ffe0;
       font-family:"Arial", Times, sans-serif;
       font-size: 10pt;
       margin-top: 0px;
       height: 96%;
     }

div#headline {
    display: inline;
    background-color: #105100;
    font-size: 130%;
    font-weight:bold;
}

span.title {
    background-color: #105100;
    font-size: 180%;
    font-weight:bold;
}

span.marker {
    background-color: #ffc060;
    font-weight: bold;
}

td#state {
    text-align : right;
    color: #ffc040;
}

div#state {
    display: inline;
    color: #ffc040;
    float:right;
}

input.fbutton {
    background-color: #105100;
    color: #e0ffe0;
    border: 0px solid #777777;
    cursor: pointer;
}

div#footspace {
    height: 50px;
}

.permbuttons input{
    float: right;
}

table.navhead td {
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-right: 0px solid #ccc;
    border-left: 0px solid #ccc;
}

input.searchbutton {
    margin-bottom: 0px;
    margin-left: 5px;
}

table.navhead {
    border-collapse:collapse;
}

table.taglist, table.searchlist {
    margin: 20px 5px 0px 10px;
    color: #202020;
}


.taglist th, .todolist td, .searchlist th, .searchlist td {
    padding: 5px 10px 5px 10px;    
}
.taglist tr:nth-child(even), .searchlist tr:nth-child(even) {
    background: #f0ffb0;
    cursor: pointer;
}
.taglist tr:nth-child(odd), .searchlist tr:nth-child(odd) {
    background: #d0e080;
    cursor: pointer;
}

div#document {
    padding: 10px 10px 10px 10px;
    background: #f0ffb0;
    color: #404010;
    overflow: auto;
}

div#error { color: #ff5040;
	    font-weight: bold;
	    font-size: 120%;
          }

#topbar {
    display: inline-block;
    float: left;
    width : 10%;
    height: 5px;
    background: #10a100;
}

#pmbar {
    display: inline-block;
    float: right;
    width : 10%;
    height: 5px;
    background: #e06000;
}

.hide {
    display: none;
}

table.todolist {
    margin: 20px 5px 0px 10px;
    color: #202020;
    border-collapse:collapse;
}

.todolist th, .todolist td {
    padding: 5px 10px 5px 10px;
    
}

.todolist tr:nth-child(even) {
    background: #d0ffd0;
    cursor: pointer;
}
.todolist tr:nth-child(odd) {
    background: #a0ffa0;
    cursor: pointer;
}

/* ------------------------------ */

#nav{
/*
    border:1px solid #ccc;
*/
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
/* Everything which is NOT top level is invisible */
#nav ul ul{
    position:absolute;
    /*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
    display: none;
    margin:0;
    padding:0px;
    text-align:left;
    border: 1px #ccc solid;

}

/* Some spaces between items; the first list are inline to 
   make a horizontal menu. The rest afterwards will be a
   block */
#nav ul li{
    position:relative;
    padding:4px 3px 4px 3px;
    display:inline-block;
    color:#c0f0c0;
    font-weight:bold;
    border: 1px #105100 solid;
}

/* The list of the further down menus should NOT be 
   horizontal
   */
#nav ul ul li{
    display:block;
}
/* Show the vertical menus when we hover over
   a horizontal main item
   */
#nav li:hover ul.l1 {
    white-space:nowrap;
    display:block;
    background:#307100;
    left: -1px;
    z-index:1;
}

#nav ul>li:hover {
/*    background:#509100; */
    background:#307100;
    border: 1px #ccc solid;

}

/* The second level menu is shown when we hover 
   over the first level li item. 
   we force a higher z index to overlay it.
   */
#nav  ul.l1 li:hover ul.l2{
    background:#307100;
    display: inline;
    z-index: 2;
}

/* The third level menu is shown when we hover 
   over the second level li item. 
   we force a higher z index to overlay it.
   */
#nav  ul.l2 li:hover ul.l3{
    background:#307100;
    display: inline;
    z-index: 2;
}
#nav ul.l3 li:hover ul.l4 {
    background:#307100;
    display: inline;
    z-index: 2;
}
#nav ul.l4 li:hover ul.l5 {
    background:#307100;
    display: inline;
    z-index: 2;
}
}
#nav li.document:hover {
    background:#60a100;
}

/* an arrow on the right side of menu's folders */
/*
  li.menu:after {
  content: "\00BB";
  float: right;
  }
  */



.indico {
	padding: 8px;
	margin: 10px;
	background: #eee;
	border-radius: 8px;
	border: 0px solid #ddd;
	box-shadow: 4px 4px 2px #666;
}
.indico-title, .indico-author {
	box-shadow: 0 1px 1px #ddd inset;
	border: 0px solid #cccccc;
	border-radius: 5px;
	background: #fff;
}
.indico-title, .indico-author {
	margin: 0px 0px 0px 0px;
	padding: 4px 4px;
}
.indico-title {
    font-weight: bold;
}

.indico-indico, .indico-talk {
    margin: 0px 0px 0px 0px;
    padding: 0px 4px;
}

.indico.align-right {
	float: right;
}
.indico.align-left {
	float: left;
}
.indico.align-center {
	margin-left: auto;
	margin-right: auto;
}
 .indico-iframe {
     width: 100%
}

table.noborder-numbered td, table.noborder-numbered th {
    border: 0px;
}

table.noborder-numbered tr:nth-child(odd) {
    background: #d0e080;
}

table.noborder-numbered { counter-reset: line-number; }
table.noborder-numbered td:first-child:before {
    content: counter(line-number) ".";
    counter-increment: line-number;
    padding-right: 0.3em; 
}

table.adresses tr:nth-child(odd) {
    background: #d0e080;
}

.doc {
    position: relative;
    left: 0px;
    top: 0px;
}

.over {
    position: fixed;
    top: 104px;
    left: 20px;
    z-index: 10;
}

.overtxt {
    background-color: #f0ffb0;
}

#
#.ovbar text {
#    postition: absolute;
#    z-index: 10;
#    bacground-color: rgba( 0,0,0,0.5 ) ;
#}

